*.beam
*.log*
*.o
*.plt
*.swo
*.swp
*~
.#*
.DS_Store
.dialyzer.plt
.erlang.cookie
.eunit
.rebar
.rebar3
\#*
_*
_build
_deps
_plugins
_rel
_tdeps
deps/**
ebin/**
erl_crash.dump
eunit.coverage.xml
log
logs
logs/**
tests
