{erl_opts, [warnings_as_errors]}.

{deps,
 [
  {jiffy, ".*",
   {git, "git://github.com/davisp/jiffy.git",
    {branch, "master"}}},
  {lhttpc, ".*",
   {git, "git://github.com/ferd/lhttpc.git",
    {branch, "master"}}}
 ]
}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, {deprecated_function_calls, warning},
               exports_not_used
              ]}.
{xref_lib_path, app_file}.
